@page
@model CSPharmaLRJuanca.Pages.Register.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div>
    <form method="post" class="d-flex justify-content-center " style="text-align: center">
    <fieldset>
        <legend>Register</legend>
        <div>
            <label for="CodEmpleado"></label>
            <input type="text" name="CodEmpleado" value="" placeholder="Cod.Empleado"/>
        </div>
        <br />
        <div>
            <label for="ClaveEmpleado"></label>
                <input type="password" name="ClaveEmpleado" value="" placeholder="Clave Empleado" />
        </div>
            <br />
        <div>
            <label for="ValContrasenia"></label>
                <input type="password" name="ValContrasenia" value="" placeholder="Repetir contraseña" />
        </div>
            <br />
        <div>
            <label>&nbsp;</label>
            <button type="submit" asp-page-handler="Submit" value=">" class="submit" >></button>
        </div>
        <hr/>
        @Model.Cadena
            
    </fieldset>
</form>

</div>
